<% for (article of articles) { %>
<div class="post-preview">
  <a href="/article/<%= article.id %>">
    <h2 class="post-title"><%= article.title %></h2>
    <p class="post-subtitle post-delimited"><%= article.content %></p>
    <!-- contenido de artículo recortado -->
    <!--Necesitamos insertar parte del texto con un maximo de palabras -->
    <img src="<%= article.img %>" alt="" id="imghome" />
  </a>
  <p class="post-meta">
    Posted by
    <a href="#!"><%=`${article.user.firstname} ${article.user.lastname}`%></a>
    on <%= article.creationDate %>
  </p>
</div>
<!-- Divider-->
<hr class="my-4" />
<% } %>
